body{
    /* background: #000; */
    background: #002199;
}

#canvasPos {
    margin: 6%;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}
